{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div style="margin-bottom: 250px; margin-top: 100px; background-color: rgb(233, 233, 233); border-radius: 10px;" class="col-md-6 py-3">
            <h2 class="py-3">Reset Password</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="inputAddress">Email Address</label>
                    <input type="email" name="email" id="inputAddress" class="form-control" placeholder="Enter your Email address"> <br>
                    <button style="background-color: rgb(185, 184, 184) !important;" type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}